= form.text_area :title, placeholder: "title" , rows: "1", id: "title", maxlength: "49"
.image
  = form.file_field :image, id: "image", class: "image-url"
  = form.label :image, class: "image-label"
= form.text_area :text, placeholder: "text" , rows: "1", id: "text", maxlength: "49"
= form.submit "SEND"
